*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue', sans-serif;
    color: #000;
    background: #f9f9f9;

    a{
        text-decoration: none;
        color: #0c0c0c;
    }

    i{
        font-size: 22px;
        font-weight: 400;
    }

    .continfo{
        background: #f8f7f7;
        font-size: 15px;
        font-weight: 600;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menuLite{
        z-index: 5;
        position: fixed;
        background: rgba(255, 255, 255, 0.95);
        width: 100%;
        top: 180px;
        display: flex;
        left: -1000px;
        flex-direction: column;
        padding: 0px 0 20px 40px;
        opacity: 0;
        transition: 0.6s all ease-in-out;
        &.active{
            left: 0;
            opacity: 1;
        } 

        a{
            color: #333;
            font-size: 14px;
            font-weight: 600;
            margin: 16px 0;

            i{
                font-size: 16px;
            }
        }
    }

    .abtLite{
        z-index: 5;
        position: fixed;
        background: rgba(255, 255, 255, 0.97);
        border: 1px solid rgb(255, 255, 255, 0.97);
        border-radius: 6px;
        box-shadow: 1px 2px 6px rgb(0, 0, 0, 0.14);
        right: 42%;
        top: -100px;
        display: flex;
        flex-direction: column;
        padding: 8px 16px;
        opacity: 0;
        transition: 1s all ease-in-out;
        &.bactive{
            top: 80px;
            opacity: 1;
        }

        a{
            color: #000;
            font-size: 16px;
            font-weight: 600;
            margin: 8px 0;
        }
    }

    .searchLite{
        z-index: 5;
        position: fixed;
        top: -100px;
        background: rgba(255, 255, 255, 0.98);
        border: 1px solid rgba(255, 255, 255, 0.97);
        border-radius: 10px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: 0.7s all ease-in-out;
        &.sactive{
            top: 180px;
            opacity: 1;
        }

        input{
            font-size: 14px;
            outline: none;
            background: rgba(255, 255, 255, 0.97);
            border: 1px solid #000;
            border-radius: 6px;
            padding: 20px 30px;
            margin: 14px;
        }
    } 

    .loginLite{
        z-index: 5;
        position: fixed;
        top: -100px;
        right: 8px;
        background: rgba(255, 255, 255, 0.97);
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: 0.7s all ease-in-out;
        &.lactive{
            top: 174px;
            opacity: 1;
        }
        a{
            background: rgba(255, 255, 255, 0.97);
            color: #000;
            font-size: 16px;
            font-weight: 600;
            padding: 20px 36px;
            border: 1px solid rgba(255, 255, 255, 0.97);
            border-radius: 6px;
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
        }
    }

    .header1{
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;

        .logo{
            display: flex;
        }

        .logos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;
            // margin-right: 20px;
        }

        .menuList{
            display: none;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0 20px;
            // text-align: center;
            // align-items: center;

            a{
                display: flex;
                // flex-direction: column;
                // flex-wrap: wrap;
                font-size: 14px;
                font-weight: 600;
                margin: 10px;
                color: #333;

                i{
                    font-size: 16px;
                }
            }

            a:hover{
                color: #666;
            }

            // a:visited{
            //     color: #fce400;
            // }
        }
    }

    .header2L{
        background: #FFFFFF;
        display: none;
        justify-content: space-between;
        align-items: center;
        // padding: 10px 16px;
        box-sizing: border-box;

        .hicon1{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center; 
            i{
                margin-right: 10px;
                padding: 6px;
            }

            .fa-square-whatsapp{
                font-size: 30px;
                color: green;
            }

            .fa-cart-shopping{
                transition: all ease-in-out 0.6s;
                padding: 20px;
                font-size: 18px;
                background: #000;
                color: #fff;
                border: 2px solid #000;
                position: relative;

                .scart{
                    color: #000;
                    font-size: 10px;
                    font-weight: 800;
                    position: absolute;
                    top: 10px;
                    padding: 2px 4px;
                    background: #fce400;
                    border-radius: 50%;

                }
            }

            .fa-cart-shopping:hover{
                background: #FFF;
                color: #000;
            }
            
        }

        .hicon2 i{
            font-size: 16px;
        }
    }

    .header2{
        background: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
        box-sizing: border-box;

        .hicon1{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center; 
            i{
                margin-right: 10px;
                padding: 10px;
            }

            .fa-square-whatsapp{
                font-size: 30px;
                color: green;
            }

            .fa-cart-shopping{
                transition: all ease-in-out 0.6s;
                padding: 20px;
                font-size: 18px;
                background: #000;
                color: #fff;
                border: 2px solid #000;
                position: relative;

                .scart{
                    color: #000;
                    font-size: 10px;
                    font-weight: 800;
                    position: absolute;
                    top: 10px;
                    padding: 2px 4px;
                    background: #fce400;
                    border-radius: 50%;

                }
            }

            .fa-cart-shopping:hover{
                background: #FFF;
                color: #000;
            }
            
        }

        .hicon2 i{
            font-size: 16px;
        }
    }

    
    .stBtnL{
        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #FFF;
        color: #000;
        margin-right: 40px;
        padding: 12px 28px;
        font-size: 12px;
        border: 2px solid #000;
        border-radius: 22px;
        transition: all ease-in-out 0.6s;
    }

    .stBtnL:hover{
        background: #000;
        color: #FFF;
    }

    // container.

    .container{
        width: 90%;
        margin: auto;
        // overflow: hidden;


        .stBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 40px 0;
            background: #000;
            color: #FFF;
            padding: 22px;
            font-size: 14px;
            border: 2px solid #000;
            border-radius: 22px;
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
            transition: all ease-in-out 0.6s;
            i{
                font-size: 14px;
                box-sizing: border-box;
                margin-left: 10px;
            }
        }

        .stBtn:hover{
            background: #FFF;
            color: #000;
            border: 2px solid #000;
        }

        .showcaseSp{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 40px;
        }

        

        .showcase1{
            z-index: 0;
            margin-top: 40px;
            background: #fce400;
            border: 1px solid #fce400;
            border-radius: 15px;
            box-shadow: 0px 3px 20px rgba(0, 0, 0,0.1);

            .showsst{
                z-index: 1;
                background: url('https://www.printhouse.ng/img/bg-dots.svg') no-repeat center center/cover;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                .search{
                    z-index: 2;
                    display: flex;
                    flex-direction: row;
                    align-self: center;
                    justify-content: center;
                    margin: 50px 0;
                    width: 88%;
                    // padding: 10px 40px;
                    border: 1px solid transparent;
                    border-radius: 6px;
    
                    input{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        text-align: start;
                        font-size: 10px;
                        margin-right: 0;
                        padding: 20px 60px 20px 20px;
                        outline: none;
                        border: none;
                        border-radius: 4px;
                        border-top-right-radius:0;
                        border-bottom-right-radius: 0;
                    }
    
                    i{
                        font-size: 18px;
                        margin-left: 0;
                        padding: 20px 24px;
                        color: #fff;
                        background: #000;
                        border: none;
                        border-radius: 4px;
                        border-top-left-radius:0;
                        border-bottom-left-radius: 0;
                    }
                }

                .stext{
                    z-index: 2;
                    width: 88%;
                    margin: auto;
                    h2{
                        font-size: 44px;
                        font-weight: 600;
                    }
                    p{
                        color: #353535;
                        font-size: 18px;
                        line-height: 1.6em;
                        margin: 40px 0;
                        
                    }
                }
                
            }
        }

        .showcase2{
            position: relative;
            img{
                width: 100%;
                margin: 20px 0;
                height: 520px;
                border: 1px solid transparent;
                border-radius: 20px;
                box-shadow: 0px 3px 15px rgba(0, 0, 0,0.1);
            }

            .ashow{
                z-index: 2;
                position: absolute;
                bottom: 10px;
                right: 40px;
                border: 1px solid transparent;
            }
        }

        .seamP{
            display: none;
            flex-direction: column;
            margin: 40px 0;

            h1{
                font-size: 30px;
                margin: 20px 0;
            }

            .seamS{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 20px;
                z-index: 2;

                .seamSt{
                    z-index: 2;
                    background: #FFF;
                    position: relative;
                    padding: 20px;
                    border-radius: 12px;
                    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);

                    h5{
                        font-size: 13px;
                        color: #000;
                        margin: 10px 0 5px 20px;
                    }

                    p{
                        font-size: 16px;
                        color: #353535;
                        margin: 15px 30px 30px 20px;
                    }

                    i{
                        position: absolute;
                        bottom: 40px;
                        right: 60px;
                        font-size: 24px;
                        color: #444;
                    }

                    .sbig{
                        position: absolute;
                        z-index: 0 !important;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        h1{
                            z-index: 0 !important;
                            font-size: 160px;
                            color: rgba(186, 186, 186, 0.4);
                        }
                    }
                }
            }
        }

        .events{
            padding-bottom: 100px;

            .event1{
                .event{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: baseline;
                    margin: 80px 0;

                    h2{
                        font-size: 40px;
                        color: #000;
                    }

                    a{
                        display: inline-block;
                    }
                }

                .slides{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 40px;

                    .slide{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        border: 1px solid transparent;
                        border-radius: 15px;
                        box-shadow: 1px 3px 20px rgba(0, 0, 0,0.1);
                        padding: 10px;

                        img{
                            width: 100%;
                            border-radius: 12px 12px 0px 0px;
                            // border-radius: none;
                        }

                        .rsw{
                            width: 86%;
                            margin: auto;
                            margin: 10px auto;

                            h3{
                                margin: 10px 0;
                                font-size: 18px;
                                font-weight: 600;
                            }

                            .min{
                                position: absolute;
                                padding: 6px 12px;
                                font-size: 12px;
                                color: #FFF;
                                background: #ff0000;
                                border: 1px solid #ff0000;
                                border-radius: 15px;
                                bottom: 80px;
                                right: 24px;

                                .inc{
                                    font-size: 16px;
                                    color: #FFF;
                                }
                            }


                            .pts{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin: 10px 0 12px 0;

                                p{
                                    font-size: 14px;
                                    color: #696969;
                                }

                                a{
                                    position: absolute;
                                    bottom: 40px;
                                    right: 40px;

                                    i{
                                        padding: 2px 4px;
                                        font-size: 14px;
                                        font-weight: 800;
                                        border: 1px solid;
                                        border-radius: 50px;
                                    }
                                }

                            }
                        }

                    }
                }

            }
        }
    }

    .testi{
        background: #FFF;
        padding-bottom: 80px;

        .container{
            .tetisT{
                padding: 60px 0;
                display: flex;
                justify-content: space-between;

                .tetisT2{
                    display: none;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 16px;
                    flex-wrap: nowrap;

                    i{
                        font-size: 24px;
                    }
                }


                h2{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
    
                p{
                    color: #353535;
                    font-size: 16px;
                    line-height: 1.6em;
                }
            }

            .tetisP{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 40px;


                .tetis{
                    margin-top: 10px;
                    padding: 20px;
                    background: #fafafa;
                    border: 1px solid #FAFAFA;
                    box-shadow: 1px 3px 15px rgba(0, 0, 0,0.15);
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
    
                    .custImg{
                        img{
                            width: 70px;
                            border-radius: 12px;
                        }
                    }
    
                    .custText{
                        padding: 30px;

                        p{
                            color: #353535;
                            font-size: 16px;
                            line-height: 1.6em;
                            padding-bottom: 40px;
                        }
    
                        h4{
                            color: #000;
                            font-size: 15px;
                        }
    
                        h6{
                            color: #000;
                            font-size: 12px;
                        }
                    }
                }

            }

            
        }
    }

    .partn{
        .container{
            .partnSp{
                display: grid;
                grid-template-columns: 1fr;
                place-items: center;
                grid-gap: 60px;
                padding: 40px 0;

                .partLogo{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 60px;
                    margin-top: 20px;
                    padding: 20px; 
                }

                .partText{
                    padding: 20px;
                    h2{
                        font-size: 40px;
                        margin-bottom: 20px;
                    }

                    p{
                        color: #353535;
                        font-size: 16px;
                        line-height: 1.6em;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }

    .subs{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fce400;
        border: 1px solid #fce400;
        border-radius: 15px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.15);

        h2{
            margin-top: 30px;
            color: #000;
            line-height: 1.3em;
            font-size: 30px;
            padding: 20px;
        }

        .search{
            display: flex;
            flex-direction: row;
            align-self: center;
            justify-content: center;
            text-align: center;
            margin: 30px 0 50px 0;
            width: 88%;
            border: 1px solid transparent;
            border-radius: 6px;
    
            input{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                text-align: start;
                font-size: 14px;
                margin-right: 0;
                padding: 20px 60px 20px 20px;
                outline: none;
                border: none;
                border-radius: 4px;
                border-top-right-radius:0;
                border-bottom-right-radius: 0;
            }

            a{
                font-size: 12px;
                margin-left: 0;
                padding: 20px 20px;
                color: #fff;
                background: #000;
                border: none;
                border-radius: 4px;
                border-top-left-radius:0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .mfoot{
        background: #000;
        margin-top: 70px;
        color: #FFF;

        h4{
            font-size: 16px;
        }

        a{
            color: #CBCACA;
            font-size: 13px;
            margin: 10px 0;
        }


        .container{
            .footInfo{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 40px;
                padding: 40px 0;

                .fsect{
                    display: flex;
                    flex-direction: column;

                    h4{
                        font-size: 16px;
                       
                    }
            
                    a{
                        color: #CBCACA;
                        font-size: 13px;
                    }
                }
            }

        }

        .footCopy{
            border-top: 1px solid #BABABA;

            .container{
                p{
                    display: flex;
                    justify-content: center;
                    font-size: 13px;
                    color: #BABABA;
                    margin: 20px 0;
                }

                .flog{
                    width: 60%;
                    margin: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 10px;

                    a{
    
                        .fa-facebook-f{
                            padding: 6px 12px;
                            color:#3b5998;
                        }

                        .fa-twitter{
                            padding: 6px 12px;
                            color: #00acee;
                        }

                        .fa-linkedin-in{
                            padding: 6px 12px;
                            color: #3b5998;
                        }

                        .fa-instagram{
                            padding: 6px 12px;
                            color: #E4405F;
                        }
                    }
                }
            }

            
        }
    }

    .contC{
        .chatW{
            position: fixed;
            z-index: 4;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12);
            bottom: 8%;
            right: 6%;
            padding: 7px 10px 8px 12px;
            border: 1px solid #fff;
            border-radius: 30px 0 30px 30px;
            background: #fff;
           
            a{
                display: none;
                font-size: 16px;
                color: #062311;
                background: #25D366;
                padding: 18px 22px;
                border: 2px solid #25D366;
                border-radius: 25px;
            }

            .contCi{
                display: flex;
                justify-self: center;
                i{
                    font-size: 28px;
                    background: #fff;
                    color: #25D366;
                    padding: 0;
                }
            }
        }
    }

    .container{
        .proA{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            padding: 20px 0;
            h1{
                margin-right: 20px;
                font-size: 30px;
                color: #000;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: start;
                flex-wrap: wrap;
            }

            .proAl{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                text-align: center;
                align-items: center;
                
                a{
                    font-size: 13px;

                    i{
                        font-size: 12px;
                        margin: 0 4px;
                    }
                }
            }
        }

        .proD{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: start;
            align-items: flex-start;
           

            .proDl{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                margin-bottom: 30px;
               
                a{
                    font-size: 10px;
                    color: #000;
                    padding: 10px 30px 20px 10px;
                    margin-right: 16px;
                    border: 1px solid #000;
                    border-radius: 6px;
                    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
                    transition: all ease-in-out 0.6s;
                }

                a:last-child{
                    margin-right: 0px;
                }

                a:hover{
                    background: #000;
                    color: #FFF;
                }
            }

            .proDs{
                display: none;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 30px 20px;
                background: #FFF;
                border-radius: 0 0 10px 10px;
                margin-top: 0;
                margin-bottom: 50px;

                a{
                    font-size: 13px;
                    font-weight: 400;
                    color: #FFF;
                    padding: 10px 15px;
                    margin: 10px;
                    background: #111;
                    border: 1px solid #111;
                    border-radius: 4px;
            
                }
            }
        }
    }

    .hire{
        z-index: 0;
        background: #FFF;
        padding: 40px 0;

        .hireT{
            z-index: 0;
            background: url('https://www.printhouse.ng/img/hire-bg-1.svg') no-repeat center center/cover;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            h2{
                z-index: 1;
                flex-wrap: wrap;
                font-size: 50px;
                font-weight: 600;
                margin-bottom: 20px;
                padding: 60px 40px 10px 40px;
            }

            p{
                z-index: 1;
                flex-wrap: wrap;
                font-size: 20px;
                color: #353535;
                padding: 10px 40px 100px 40px;
            }
        }

    }

    .hireF{
        background: url("https://www.printhouse.ng/img/footer-bg.svg") no-repeat center center/cover;

        .hireforcs{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }

        .container{
            .hiref{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 0;

                .hirefi{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    padding: 20px;
                    width: 100%;
                    background: #FFF;
                    margin: 20px 0;
                    border: 2px solid #fff;
                    border-radius: 15px;

                    .srap{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: nowrap;
                        padding: 10px;
                    }

                    .srap1{
                        p{
                            font-size: 12px;
                            font-weight: 600;
                        }
                      
                    }

                    p{
                        font-size: 12px;
                        color: #495057;
                       
                    }

                    select {
                        width: 100%;
                        margin-left: 30px;
                        font-size: 12px;
                        // padding: 10px;
                        padding: 12.5px 36px 12.5px 14px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background-color: #fff;
                        color: #495057;
                        // outline: none;
                        appearance: none;
                        background: url("../Images/arrow\ 2\ bg.png") no-repeat;
                        background-size: 4%;
                        background-position: right 10px center;

                        option{
                            padding: 12.5px 36px 12.5px 14px; 
                            font-size: 14px;
                        }
                      }
                      
                      select:hover {
                        background-color: #f2f2f2;
                      }
                      
                      select:focus {
                        outline: none;
                        border-color: #999;
                      }

                    i{
                        font-size: 22px;
                        background: transparent;
                        color: #495057;
        
                    }
                }

                .hireS{
                    display: flex;
                    justify-content: flex-start;
                    text-align: left;
                    width: 100%;
                    padding: 20px 30px 30px 30px;
                    background: #FFF;
                    border: 2px solid #fff;
                    border-radius: 15px;

                    p{
                        color: #353535;
                        font-size: 16px;
                    }

                    .total{
                        font-size: 13px;
                        font-weight: 600;
                        margin-left: 20px;
                    }

                }
            }

            .hiref1{
                display: flex;
                flex-direction: column;

                .pcontlink{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: #FFF;
                    font-size: 12px;
                    background: #000;
                    border: 2px solid #000;
                    border-radius: 25px;
                    padding: 12px 24px;
                    margin: 4px 0 40px 0;

                    i{
                        margin-left: 6px;
                        font-size: 20px;
                    }
                }
        
                .hirefpr{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background: #F8D7DA;
                    border: 1px solid #F8D7DA;
                    border-radius: 5px;
                    color: #721C24;
                    padding: 8px 16px 8px 8px;
                    margin: 20px 0 10px 0;
                    font-size: 14px;

                    img{
                        width: 20%;
                        padding: 10px;
                    }    
                }

                .hirefinp{
                    background: #FFF;
                    border: 1px solid #FFF;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    padding: 30px 20px;
                    margin: 0 0 20px 0;

                    textarea{
                        margin: 6px 0 30px 0;
                        padding: 8px;
                        font-size: 12px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                    }

                    .upload{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        padding: 10px;
                        background: #f3f4f5;
                        border: 1px solid #f3f4f5;
                        border-radius: 6px;
                        margin: 0 0 20px 0;

                        p{
                            padding: 5px;
                            color: #353535;
                            font-size: 16px;
                            margin: 10px 0;
                        }

                        a{
                            align-items: center;
                            padding: 12px 24px;
                            font-size: 12px;
                            border: 2px solid #000;
                            border-radius: 25px;
                            transition: all ease-in-out 0.8s;
                        }

                        a:hover{
                            background: #000;
                            color: #FFF;
                        }

                        i{
                            font-size: 14px;
                            margin-right: 4px;
                        }
                    }

                    .print{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        img{
                            width: 60%;
                            margin: 0 20px 0 0;
                        }

                        a{
                            font-size: 16px;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .container{
        h1{
            font-size: 30px;
            margin: 20px 0;
        }

        p{
            font-size: 16px;
            color: #353535;
            margin-bottom: 10px;
        }

        .qforminp1{

            a{
                color: #6C6B6B;
                font-size: 16px;
                text-decoration: underline;
            }
            p{
                color: #353535;
                font-size: 13px;
            }
        }

        .qform{
            display: flex;
            flex-direction: column;
            background: #FFF;
            border: 1px solid #FFF;
            border-radius: 5px;
            box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.12);
            padding: 20px;
            margin-bottom: 40px;

            .qforminp{
                display: flex;
                flex-direction: column;
                margin: 12px 0;
                h4{
                    color: #010101;
                    font-size: 20px;
                    margin-bottom: 6px;
                }

                input{
                    outline: none;
                    border: 1px solid #cdcdcd;
                    border-radius: 5px;
                    font-size: 14px;
                    padding: 13px 40px 13px 12px;
                    width: 100%;
                    transition: all ease-in-out 0.4s;
                }

                input:focus{
                    border: 2px solid #212121;
                }

                textarea{
                    outline: none;
                    border: 1px solid #cdcdcd;
                    border-radius: 5px;
                    font-size: 12px;
                    padding: 13px 0 13px 12px;
                    width: 100%;
                    transition: all ease-in-out 0.4s;
                }

                textarea:focus{
                    border: 2px solid #212121;
                }

                .qradio{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    input{
                        width: 5%;
                        padding: 0;
                        margin-right: 6px;
                    }

                    p{
                        font-size: 12px;
                        margin-right: 12px;
                    }
                }
            }

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 12px;
                margin: 24px 10%;
                padding: 14px 20px;
                width: 80%;
                color: #FFF;
                background: #000;
                border: 1px solid #000;
                border-radius: 25px;

                i{
                    color: #FFF;
                    font-size: 18px;
                    margin-left: 6px;
                }
            }
        }
    }

        
 
    




    // Media Queries

    @media(min-width:600px){
        .continfo{
            display: none;
        }

        .menuLite{    
            top: 136px;
        }

        .searchLite{
            &.sactive{
                top: 140px;
            }
        }

        .loginLite{
            &.lactive{
                top: 132px;
            }
        }
    }

    @media(min-width:620px){
        .container{
            .seamP{
                display: flex;
            }
        }

        .header1{
            .logos{
                .stBtnL{
                    display: flex;
                   }
            }
        }
      
    }
    
    @media(min-width:670px){
        .header2{
            display: none;
        }

        .menuLite{    
            top: 80px;
        }

        .searchLite{
            right: 140px;
            &.sactive{
                top: 78px;
            }
        }

        .loginLite{
            &.lactive{
                top: 80px;
            }

        }

        .header2L{
            display: flex;
        }

        .container{
            .seamP{
                .seamS{
                    grid-template-columns: 1fr 1fr;
                }
            }
        }

        .container{
            .events{
                .event1{
                    .slides{
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }

        .testi{
            .container{
                .tetisT{
                    .tetisT2{
                        display: flex;
                    }
                }
            }
        }
    }
    
    @media(min-width:840px){
        .hireF{
            .hireforcs{
                grid-template-columns: 2fr 3fr;
                grid-gap: 20px;
            }
        }
        .partn{
            .container{
                .partnSp{
                    .partLogo{
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
        }

        .container{
            .showcaseSp{
                grid-template-columns: 3fr 2fr;
                grid-gap: 30px;
            }

            .showsst{
                .showcase1{
                    .search{
                        input{
                            font-size: 14px;
                        }
                    }
                    .stext{
                        h2{
                            font-size: 60px;
                        }
                        p{
                            font-size: 25px;
                           word-spacing: 0.2rem;
                        }
                    }   
                }
            }

            .showcase2{
                margin-top: 20px;

                // img{
                //     height: 700px;
                // }

                .ashow{
                    bottom: 45px;
                    right: 40px;
                }
            }

            .proD{
                .proDl{
                    margin-bottom: 0;
                    a{
                        font-size: 18px;
                        border: none;
                        box-shadow: none;
                        transition: all ease-in-out 0.5s;
                        &.apdl{
                            background: #FFF;
                            border-radius: 4px 4px 0 0;
                        }
                    }

                    a:hover{
                        background: transparent;
                        color: #555;
                    }


                }
    
                .proDs{
                    display: flex;
    
                }
            }


        }

        .container{
            .seamP{
                .seamS{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }

        .container{
            .events{
                .event1{
                    .slides{
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
        }

        .contC{
            .chatW{
                position: fixed;
                z-index: 4;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12);
                bottom: 10%;
                right: 4%;
                padding: 0;
                border: none;
                border-radius: 0;
                background: none;
               
                a{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    font-size: 16px;
                    color: #062311;
                    background: #25D366;
                    padding: 18px 22px;
                    border: 2px solid #25D366;
                    border-radius: 25px;

                    i{
                        color: #FFF;
                        font-size: 24px;
                        margin-right: 6px;
                    }
                }
        
                

                .contCi{
                    display: none;
                }
            }
        }
    }
    
    @media(min-width:1010px){
        .mfoot{
            .container{
                .footInfo{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 60px;
                }
            }

            .footCopy{
                .container{
                    .flog{
                        width: 40%;
                    }
                }
            }
        }

        .container{
            .events{
                .event1{
                    .slides{
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                }
            }
        }

        .container{
            width: 86%;
        }

        .subs{
            width: 80%;
            padding: 0 20px;

            h2{
                margin-top: 25px;
                line-height: 1.5em;
                font-size: 35px;
                padding: 0;
            }
        }

        .testi{
            .container{
                .tetisP{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }

        .header1{
            .menuList{
                display: flex;
            }

            .mBtn{
                display: none;
            }
        }

        .menuLite{
            display: none;
        }

        .partn{
            .container{
                .partnSp{
                    grid-template-columns: 1fr 1fr;
                   
                    .partText{
                        h2{
                            font-size: 50px;
                        }

                        p{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    @media(min-width:1110px){
        .abtLite{
            right: 48%;
        }
    }
    
}